/* Feature Product Area css
============================================================================================ */
.feature_product_area .main_box {
  position: relative;
  z-index: 10; }
.feature_product_area .cat_page .pagination li a {
  border: 0 !important; }

.f_p_item {
  text-align: center;
  margin-bottom: 50px; }
  .f_p_item .f_p_img {
    position: relative;
    overflow: hidden; }
    .f_p_item .f_p_img .p_icon {
      position: absolute;
      right: -90px;
      bottom: 30px;
      transition: all 400ms ease; }
      .f_p_item .f_p_img .p_icon a {
        display: inline-block;
        height: 40px;
        width: 40px;
        text-align: center;
        border-radius: 3px;
        background: #fff;
        line-height: 40px;
        color: #222222;
        margin-bottom: 5px;
        margin-right: 5px; }
        .f_p_item .f_p_img .p_icon a:last-child {
          margin-bottom: 0px;
          margin-right: 0px; }
        .f_p_item .f_p_img .p_icon a:hover {
          color: #fff;
          background: #1641ff; }
  .f_p_item h4 {
    color: #222222;
    font-size: 16px;
    margin-top: 15px;
    transition: all 300ms linear 0s; }
    .f_p_item h4:hover {
      color: #1641ff; }
  .f_p_item h5 {
    margin-bottom: 0px;
    font-size: 18px;
    color: #777777; }
  .f_p_item:hover .f_p_img .p_icon {
    right: 35px; }

.latest_product_inner {
  margin-bottom: -35px; }

/* End Feature Product Area css
============================================================================================ */
/* End Feature Product Area css
============================================================================================ */
.most_product_area .main_box {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: -50px;
  margin-bottom: -50px;
  position: relative;
  z-index: 10; }

.most_product_inner {
  margin-bottom: -30px; }

.most_p_list .media {
  margin-bottom: 30px; }
  .most_p_list .media .d-flex {
    padding-right: 20px; }
  .most_p_list .media .media-body {
    vertical-align: middle;
    align-self: center; }
    .most_p_list .media .media-body h4 {
      margin-bottom: 8px;
      font-size: 14px;
      font-weight: normal;
      color: #222222; }
    .most_p_list .media .media-body h3 {
      font-size: 16px;
      font-weight: 500;
      color: #777777;
      margin-bottom: 0px; }

/* End Feature Product Area css
============================================================================================ */
/* Product Sidebar Area css
============================================================================================ */
.cat_product_area .latest_product_inner {
  padding-top: 30px;
  margin-bottom: -50px; }
  .cat_product_area .latest_product_inner .f_p_item {
    margin-bottom: 50px; }

.left_widgets {
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 0px 10px 10px 0px rgba(153, 153, 153, 0.1); }
  .left_widgets:last-child {
    margin-bottom: 0px; }

.widgets_inner {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px; }

.l_w_title {
  background: #f9f9ff;
  padding-left: 30px; }
  .l_w_title h3 {
    margin-bottom: 0px;
    font-size: 14px;
    color: #222222;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 60px; }

.cat_widgets .list li {
  margin-bottom: 13px; }
  .cat_widgets .list li a {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #222222; }
  .cat_widgets .list li .list {
    margin-top: 10px;
    padding-left: 35px;
    border-top: 1px solid #eeeeee;
    padding-top: 10px;
    display: none; }

.p_filter_widgets .widgets_inner {
  border-bottom: 1px solid #eeeeee; }
  .p_filter_widgets .widgets_inner:last-child {
    border-bottom: 0px; }
.p_filter_widgets h4 {
  color: #222222;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  margin-bottom: 22px;
  margin-top: 10px; }
.p_filter_widgets .list li {
  margin-bottom: 18px; }
  .p_filter_widgets .list li a {
    padding-left: 30px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: #777777;
    position: relative; }
    .p_filter_widgets .list li a:before {
      content: "";
      height: 10px;
      width: 10px;
      border-radius: 50%;
      border: 1px solid #777777;
      position: absolute;
      left: 0px;
      top: 5px;
      transition: all 300ms linear 0s; }
    .p_filter_widgets .list li a:after {
      content: "";
      height: 4px;
      width: 4px;
      background: #fff;
      border-radius: 50%;
      position: absolute;
      left: 3px;
      top: 8px;
      transition: all 300ms linear 0s; }
  .p_filter_widgets .list li.active a:before, .p_filter_widgets .list li:hover a:before {
    background: #1641ff;
    border-color: #1641ff; }
  .p_filter_widgets .list li:last-child {
    margin-bottom: 0px; }
.p_filter_widgets .range_item .ui-slider {
  height: 6px;
  border: none;
  background: #f9f9ff; }
  .p_filter_widgets .range_item .ui-slider .ui-slider-range {
    background: #f9f9ff; }
  .p_filter_widgets .range_item .ui-slider .ui-slider-handle {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: none;
    background: #1641ff;
    outline: none !important;
    box-shadow: none;
    top: -6px;
    cursor: pointer; }
.p_filter_widgets .range_item label {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  color: #777777;
  font-family: "Roboto", sans-serif;
  margin-top: 15px; }
.p_filter_widgets .range_item input {
  display: inline-block;
  border: none;
  width: 100px;
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  margin-top: 9px;
  padding-left: 3px; }
  .p_filter_widgets .range_item input.placeholder {
    font-size: 14px;
    color: #777777;
    font-family: "Roboto", sans-serif; }
  .p_filter_widgets .range_item input:-moz-placeholder {
    font-size: 14px;
    color: #777777;
    font-family: "Roboto", sans-serif; }
  .p_filter_widgets .range_item input::-moz-placeholder {
    font-size: 14px;
    color: #777777;
    font-family: "Roboto", sans-serif; }
  .p_filter_widgets .range_item input::-webkit-input-placeholder {
    font-size: 14px;
    color: #777777;
    font-family: "Roboto", sans-serif; }

.product_top_bar {
  background: #f9f9ff;
  clear: both;
  display: flex;
  padding: 10px 20px; }
  .product_top_bar .left_dorp .sorting {
    display: inline-block;
    clear: none;
    border: 1px solid #eeeeee;
    border-radius: 0px;
    height: 40px;
    width: 210px;
    padding-left: 20px; }
    .product_top_bar .left_dorp .sorting span {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      color: #555555; }
    .product_top_bar .left_dorp .sorting .list {
      width: 100%;
      border-radius: 0px; }
      .product_top_bar .left_dorp .sorting .list li {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        color: #555555; }
    .product_top_bar .left_dorp .sorting:after {
      content: "\f0d7";
      font: normal normal normal 14px/1 FontAwesome;
      transform: rotate(0);
      border: none;
      color: #555555;
      margin-top: -6px;
      right: 20px; }
  .product_top_bar .left_dorp .show {
    clear: none;
    display: inline-block;
    clear: none;
    border: 1px solid #eeeeee;
    border-radius: 0px;
    height: 40px;
    width: 120px;
    padding-left: 20px;
    margin-left: 10px; }
    .product_top_bar .left_dorp .show span {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      color: #555555; }
    .product_top_bar .left_dorp .show .list {
      width: 100%;
      border-radius: 0px; }
      .product_top_bar .left_dorp .show .list li {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        color: #555555; }
    .product_top_bar .left_dorp .show:after {
      content: "\f0d7";
      font: normal normal normal 14px/1 FontAwesome;
      transform: rotate(0);
      border: none;
      color: #555555;
      margin-top: -6px;
      right: 20px; }

.cat_page .pagination {
  margin-bottom: 0px;
  border-radius: 0px; }
  .cat_page .pagination li a {
    height: 40px;
    width: 40px;
    border-radius: 0px;
    background: #fff;
    padding: 0px;
    text-align: center;
    line-height: 38px;
    border-color: #eeeeee;
    border-radius: 0px !important;
    font-size: 14px;
    color: #222222;
    font-weight: normal;
    font-family: "Roboto", sans-serif; }
  .cat_page .pagination li.blank a {
    background: transparent;
    color: #cccccc;
    border: none; }
  .cat_page .pagination li:hover a, .cat_page .pagination li.active a {
    background: #1641ff;
    color: #fff;
    border-color: #1641ff; }

.most_p_withoutbox {
  padding-bottom: 120px; }

/* End Product Sidebar Area css
============================================================================================ */
/* Single Product Area css
============================================================================================ */
.product_image_area {
  padding-top: 120px; }

.s_product_img .carousel {
  position: relative; }
  .s_product_img .carousel .carousel-indicators {
    margin: 0px;
    right: 20px;
    width: auto;
    left: auto;
    bottom: 30px; }
    .s_product_img .carousel .carousel-indicators li {
      height: 60px;
      width: 60px;
      background: transparent;
      text-indent: 0;
      margin-right: 10px;
      position: relative; }
      .s_product_img .carousel .carousel-indicators li:after {
        display: none; }
      .s_product_img .carousel .carousel-indicators li:before {
        content: "";
        background: rgba(197, 50, 45, 0.8);
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        opacity: 0; }
      .s_product_img .carousel .carousel-indicators li.active:before {
        opacity: 1; }

.s_product_text {
  margin-left: -15px;
  margin-top: 65px; }
  .s_product_text h3 {
    font-size: 24px;
    font-weight: 500;
    color: #222222;
    margin-bottom: 10px; }
  .s_product_text h2 {
    font-size: 24px;
    font-weight: bold;
    color: #1641ff;
    margin-bottom: 15px; }
  .s_product_text .list li {
    margin-bottom: 5px; }
    .s_product_text .list li a {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      color: #555555; }
      .s_product_text .list li a span {
        width: 90px;
        display: inline-block; }
        .s_product_text .list li a span:hover {
          color: #555; }
      .s_product_text .list li a.active {
        color: #1641ff; }
        .s_product_text .list li a.active span {
          color: #555; }
    .s_product_text .list li:last-child {
      margin-bottom: 0px; }
  .s_product_text p {
    padding-top: 20px;
    border-top: 1px dotted #d5d5d5;
    margin-top: 20px;
    margin-bottom: 70px; }
  .s_product_text .card_area .main_btn {
    line-height: 38px;
    padding: 0px 38px;
    text-transform: uppercase;
    margin-right: 10px; }
  .s_product_text .card_area .icon_btn {
    margin-right: 10px;
    background: #f9f9ff;
    border-radius: 3px;
    color: #222222;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    padding: 0px 13px;
    font-size: 14px; }
    .s_product_text .card_area .icon_btn:hover {
      background: #fff;
      box-shadow: -14.142px 14.142px 20px 0px rgba(0, 0, 0, 0.1); }

.product_count {
  display: inline-block;
  position: relative;
  margin-bottom: 24px; }
  .product_count label {
    font-size: 14px;
    color: #777777;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    padding-right: 10px; }
  .product_count input {
    width: 76px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    padding-left: 10px; }
  .product_count button {
    display: block;
    border: none;
    background: transparent;
    box-shadow: none;
    cursor: pointer;
    position: absolute;
    right: 0px;
    font-size: 14px;
    color: #cccccc;
    transition: all 300ms linear 0s; }
    .product_count button:hover {
      color: #222222; }
  .product_count .increase {
    top: -4px; }
  .product_count .reduced {
    bottom: -1px; }

.product_description_area {
  padding-bottom: 120px;
  margin-top: 60px; }
  .product_description_area .nav.nav-tabs {
    background: #f9f9ff;
    text-align: center;
    display: block;
    border: none;
    padding: 10px 0px; }
    .product_description_area .nav.nav-tabs li {
      display: inline-block;
      margin-right: 7px; }
      .product_description_area .nav.nav-tabs li:last-child {
        margin-right: 0px; }
      .product_description_area .nav.nav-tabs li a {
        padding: 0px;
        border: none;
        line-height: 38px;
        background: #fff;
        border: 1px solid #eeeeee;
        border-radius: 0px;
        padding: 0px 30px;
        color: #222222;
        font-size: 13px;
        font-weight: normal; }
        .product_description_area .nav.nav-tabs li a.active {
          background: #1641ff;
          color: #fff;
          border-color: #1641ff; }
  .product_description_area .tab-content {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 30px; }
    .product_description_area .tab-content .total_rate .box_total {
      background: #f9f9ff;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px; }
      .product_description_area .tab-content .total_rate .box_total h4 {
        color: #1641ff;
        font-size: 48px;
        font-weight: bold; }
      .product_description_area .tab-content .total_rate .box_total h5 {
        color: #222222;
        margin-bottom: 0px;
        font-size: 24px; }
      .product_description_area .tab-content .total_rate .box_total h6 {
        color: #222222;
        margin-bottom: 0px;
        font-size: 14px;
        color: #777777;
        font-weight: normal; }
    .product_description_area .tab-content .total_rate .rating_list {
      margin-bottom: 30px; }
      .product_description_area .tab-content .total_rate .rating_list h3 {
        font-size: 18px;
        color: #222222;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        margin-bottom: 10px; }
      .product_description_area .tab-content .total_rate .rating_list .list li a {
        font-size: 14px;
        color: #777777; }
        .product_description_area .tab-content .total_rate .rating_list .list li a i {
          color: #fbd600; }
      .product_description_area .tab-content .total_rate .rating_list .list li:nth-child a i:last-child {
        color: #eeeeee; }
    .product_description_area .tab-content .table {
      margin-bottom: 0px; }
      .product_description_area .tab-content .table tbody tr td {
        padding-left: 65px;
        padding-right: 65px;
        padding-top: 14px;
        padding-bottom: 14px; }
        .product_description_area .tab-content .table tbody tr td h5 {
          font-size: 14px;
          font-family: "Roboto", sans-serif;
          font-weight: normal;
          color: #777777;
          margin-bottom: 0px;
          white-space: nowrap; }
      .product_description_area .tab-content .table tbody tr:first-child td {
        border-top: 0px; }

.review_item {
  margin-bottom: 15px; }
  .review_item:last-child {
    margin-bottom: 0px; }
  .review_item .media {
    position: relative; }
    .review_item .media .d-flex {
      padding-right: 15px; }
    .review_item .media .media-body {
      vertical-align: middle;
      align-self: center; }
      .review_item .media .media-body h4 {
        margin-bottom: 0px;
        font-size: 14px;
        color: #222222;
        font-family: "Roboto", sans-serif;
        margin-bottom: 8px; }
      .review_item .media .media-body i {
        color: #fbd600; }
      .review_item .media .media-body h5 {
        font-size: 13px;
        font-weight: normal;
        color: #777777; }
      .review_item .media .media-body .reply_btn {
        border: 1px solid #e0e0e0;
        padding: 0px 28px;
        display: inline-block;
        line-height: 32px;
        border-radius: 16px;
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        color: #222222;
        position: absolute;
        right: 0px;
        top: 14px; }
        .review_item .media .media-body .reply_btn:hover {
          background: #1641ff;
          border-color: #1641ff;
          color: #fff; }
  .review_item p {
    padding-top: 10px;
    margin-bottom: 0px; }
  .review_item.reply {
    padding-left: 28px; }

.review_box h4 {
  font-size: 24px;
  color: #222222;
  margin-bottom: 20px; }
.review_box p {
  margin-bottom: 0px;
  display: inline-block; }
.review_box .list {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px; }
  .review_box .list li {
    display: inline-block; }
    .review_box .list li a {
      display: inline-block;
      color: #fbd600; }
.review_box .contact_form {
  margin-top: 15px; }

/* End Single Product Area css
============================================================================================ */
.radion_btn input[type=radio] {
  position: absolute;
  visibility: hidden; }

.radion_btn {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px; }
  .radion_btn img {
    position: absolute;
    right: 40px;
    top: 0px; }

.radion_btn label {
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 0px 25px 21px 25px;
  height: 14px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #222222;
  font-size: 13px;
  letter-spacing: .25px;
  text-transform: uppercase; }

.radion_btn .check {
  display: block;
  position: absolute;
  border: 1px solid #cdcdcd;
  border-radius: 100%;
  height: 14px;
  width: 14px;
  top: 5px;
  left: 0px;
  background: #fff;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear; }

.radion_btn .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  top: 4px;
  left: 4px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear; }

.radion_btn input[type=radio]:checked ~ .check {
  border: 1px solid #1641ff;
  background: #1641ff; }

.radion_btn input[type=radio]:checked ~ .check::before {
  background: #fff; }

.radion_btn input[type=radio]:checked ~ label {
  color: #000; }

/*==============Elements Button Area css ================*/
.elements_button .title_color {
  margin-bottom: 30px;
  color: #222222; }

.title_color {
  color: #222222; }

.button-group-area {
  margin-top: 15px; }
  .button-group-area:nth-child(odd) {
    margin-top: 40px; }
  .button-group-area:first-child {
    margin-top: 0px; }
  .button-group-area .theme_btn {
    margin-right: 10px; }
  .button-group-area .white_btn {
    margin-right: 10px; }
  .button-group-area .link {
    text-decoration: underline;
    color: #222222;
    background: transparent; }
    .button-group-area .link:hover {
      color: #fff; }
  .button-group-area .disable {
    background: transparent;
    color: #007bff;
    cursor: not-allowed; }
    .button-group-area .disable:before {
      display: none; }

.primary {
  background: #52c5fd; }
  .primary:before {
    background: #2faae6; }

.success {
  background: #4cd3e3; }
  .success:before {
    background: #2ebccd; }

.info {
  background: #38a4ff; }
  .info:before {
    background: #298cdf; }

.warning {
  background: #f4e700; }
  .warning:before {
    background: #e1d608; }

.danger {
  background: #f54940; }
  .danger:before {
    background: #e13b33; }

.primary-border {
  background: transparent;
  border: 1px solid #52c5fd;
  color: #52c5fd; }
  .primary-border:before {
    background: #52c5fd; }

.success-border {
  background: transparent;
  border: 1px solid #4cd3e3;
  color: #4cd3e3; }
  .success-border:before {
    background: #4cd3e3; }

.info-border {
  background: transparent;
  border: 1px solid #38a4ff;
  color: #38a4ff; }
  .info-border:before {
    background: #38a4ff; }

.warning-border {
  background: #fff;
  border: 1px solid #f4e700;
  color: #f4e700; }
  .warning-border:before {
    background: #f4e700; }

.danger-border {
  background: transparent;
  border: 1px solid #f54940;
  color: #f54940; }
  .danger-border:before {
    background: #f54940; }

.link-border {
  background: transparent;
  border: 1px solid #1641ff;
  color: #1641ff; }
  .link-border:before {
    background: #1641ff; }

.radius {
  border-radius: 3px; }

.circle {
  border-radius: 20px; }

.arrow span {
  padding-left: 5px; }

.e-large {
  line-height: 50px;
  padding-top: 0px;
  padding-bottom: 0px; }

.large {
  line-height: 45px;
  padding-top: 0px;
  padding-bottom: 0px; }

.medium {
  line-height: 30px;
  padding-top: 0px;
  padding-bottom: 0px; }

.small {
  line-height: 25px;
  padding-top: 0px;
  padding-bottom: 0px; }

.general {
  line-height: 38px;
  padding-top: 0px;
  padding-bottom: 0px; }

/*==============End Elements Button Area css ================*/
/* Main Button Area css
============================================================================================ */
.main_btn {
  display: inline-block;
  background: #1641ff;
  padding: 0px 30px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  border: 1px solid #1641ff;
  border-radius: 0px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  border: 1px solid #1641ff;
  cursor: pointer;
  transition: all 300ms linear 0s;
  border-radius: 5px; }
  .main_btn:hover {
    background: transparent;
    color: #1641ff; }

.main_btn2 {
  display: inline-block;
  background: #1641ff;
  padding: 0px 32px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 38px;
  border-radius: 0px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  border: 1px solid #1641ff;
  cursor: pointer;
  transition: all 300ms linear 0s; }
  .main_btn2:hover {
    background: transparent;
    color: #1641ff; }

.submit_btn {
  display: inline-block;
  background: #1641ff;
  padding: 0px 30px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 38px;
  border: 1px solid #1641ff;
  border-radius: 0px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  border: 1px solid #1641ff;
  cursor: pointer;
  transition: all 300ms linear 0s; }
  .submit_btn:hover {
    background: transparent;
    color: #1641ff; }

.white_bg_btn {
  display: inline-block;
  background: #f9f9ff;
  padding: 0px 35px;
  color: #222222;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 34px;
  border-radius: 0px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  border: 1px solid #eeeeee;
  cursor: pointer;
  transition: all 300ms linear 0s; }
  .white_bg_btn:hover {
    background: #1641ff;
    color: #fff;
    border-color: #1641ff; }

.org_btn {
  padding: 0px 40px;
  background-image: linear-gradient(to right, #f766a5 0%, #f78762 51%, #f766a5 100%);
  background-size: 200% auto;
  z-index: 2;
  display: inline-block;
  transition: all 400ms ease-out;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  line-height: 50px;
  border-radius: 5px; }
  .org_btn:hover {
    background-position: right center;
    color: #fff; }

.green_btn {
  padding: 0px 40px;
  background-image: linear-gradient(to right, #73ca96 0%, #98d370 51%, #73ca96 100%);
  background-size: 200% auto;
  z-index: 2;
  display: inline-block;
  transition: all 400ms ease-out;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  line-height: 50px;
  border-radius: 5px; }
  .green_btn:hover {
    background-position: right center;
    color: #fff; }

/* End Main Button Area css
============================================================================================ */
/* Cart Area css
============================================================================================ */
.cart_area {
  padding-top: 100px;
  padding-bottom: 100px; }

.cart_inner .table thead tr th {
  border-top: 0px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #777777;
  border-bottom: 0px !important; }
.cart_inner .table tbody tr td {
  padding-top: 30px;
  padding-bottom: 30px;
  vertical-align: middle;
  align-self: center; }
  .cart_inner .table tbody tr td .media .d-flex {
    padding-right: 30px; }
    .cart_inner .table tbody tr td .media .d-flex img {
      border: 1px solid #eeeeee;
      border-radius: 3px; }
  .cart_inner .table tbody tr td .media .media-body {
    vertical-align: middle;
    align-self: center; }
    .cart_inner .table tbody tr td .media .media-body p {
      margin-bottom: 0px; }
  .cart_inner .table tbody tr td h5 {
    font-size: 14px;
    color: #222222;
    font-family: "Roboto", sans-serif;
    margin-bottom: 0px; }
  .cart_inner .table tbody tr td .product_count {
    margin-bottom: 0px; }
    .cart_inner .table tbody tr td .product_count input {
      width: 100px;
      padding-left: 30px;
      height: 40px;
      outline: none;
      box-shadow: none; }
    .cart_inner .table tbody tr td .product_count .increase {
      top: -2px; }
      .cart_inner .table tbody tr td .product_count .increase:before {
        content: "";
        height: 40px;
        width: 1px;
        position: absolute;
        left: -3px;
        top: 0px;
        background: #eeeeee; }
      .cart_inner .table tbody tr td .product_count .increase:after {
        content: "";
        height: 1px;
        width: 30px;
        position: absolute;
        left: -3px;
        top: 22px;
        background: #eeeeee; }
    .cart_inner .table tbody tr td .product_count .reduced {
      bottom: -6px; }
.cart_inner .table tbody tr.bottom_button .gray_btn {
  line-height: 38px;
  background: #f9f9ff;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  padding: 0px 40px;
  display: inline-block;
  color: #222222;
  text-transform: uppercase;
  font-weight: 500; }
.cart_inner .table tbody tr.bottom_button td:last-child {
  width: 60px; }
.cart_inner .table tbody tr.bottom_button td .cupon_text {
  margin-left: -446px; }
  .cart_inner .table tbody tr.bottom_button td .cupon_text input {
    width: 200px;
    padding: 0px 15px;
    border-radius: 3px;
    border: 1px solid #eeeeee;
    height: 40px;
    font-size: 14px;
    color: #cccccc;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    margin-right: -3px;
    outline: none;
    box-shadow: none; }
    .cart_inner .table tbody tr.bottom_button td .cupon_text input.placeholder {
      font-size: 14px;
      color: #cccccc;
      font-family: "Roboto", sans-serif;
      font-weight: normal; }
    .cart_inner .table tbody tr.bottom_button td .cupon_text input:-moz-placeholder {
      font-size: 14px;
      color: #cccccc;
      font-family: "Roboto", sans-serif;
      font-weight: normal; }
    .cart_inner .table tbody tr.bottom_button td .cupon_text input::-moz-placeholder {
      font-size: 14px;
      color: #cccccc;
      font-family: "Roboto", sans-serif;
      font-weight: normal; }
    .cart_inner .table tbody tr.bottom_button td .cupon_text input::-webkit-input-placeholder {
      font-size: 14px;
      color: #cccccc;
      font-family: "Roboto", sans-serif;
      font-weight: normal; }
  .cart_inner .table tbody tr.bottom_button td .cupon_text .main_btn {
    height: 40px;
    line-height: 38px;
    text-transform: uppercase;
    padding: 0px 38px;
    margin-right: -3px; }
  .cart_inner .table tbody tr.bottom_button td .cupon_text .gray_btn {
    padding: 0px 40px; }
.cart_inner .table tbody tr.shipping_area td:nth-child(3) {
  vertical-align: top; }
.cart_inner .table tbody tr.shipping_area .shipping_box {
  margin-left: -250px;
  text-align: right; }
  .cart_inner .table tbody tr.shipping_area .shipping_box .list li {
    margin-bottom: 12px; }
    .cart_inner .table tbody tr.shipping_area .shipping_box .list li:last-child {
      margin-bottom: 0px; }
    .cart_inner .table tbody tr.shipping_area .shipping_box .list li a {
      padding-right: 30px;
      font-size: 14px;
      color: #777777;
      position: relative; }
      .cart_inner .table tbody tr.shipping_area .shipping_box .list li a:before {
        content: "";
        height: 16px;
        width: 16px;
        border: 1px solid #cdcdcd;
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%); }
      .cart_inner .table tbody tr.shipping_area .shipping_box .list li a:after {
        content: "";
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: #1641ff;
        display: inline-block;
        position: absolute;
        right: 3px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0; }
    .cart_inner .table tbody tr.shipping_area .shipping_box .list li.active a:after {
      opacity: 1; }
  .cart_inner .table tbody tr.shipping_area .shipping_box h6 {
    font-size: 14px;
    font-weight: normal;
    color: #222222;
    font-family: "Roboto", sans-serif;
    margin-top: 20px;
    margin-bottom: 20px; }
    .cart_inner .table tbody tr.shipping_area .shipping_box h6 i {
      color: #777777;
      padding-left: 5px; }
  .cart_inner .table tbody tr.shipping_area .shipping_box .shipping_select {
    display: block;
    width: 100%;
    background: #f9f9ff;
    border: 1px solid #eeeeee;
    height: 40px;
    margin-bottom: 20px; }
    .cart_inner .table tbody tr.shipping_area .shipping_box .shipping_select .list {
      width: 100%;
      border-radius: 0px; }
      .cart_inner .table tbody tr.shipping_area .shipping_box .shipping_select .list li {
        font-size: 14px;
        font-weight: normal;
        color: #777777; }
  .cart_inner .table tbody tr.shipping_area .shipping_box input {
    height: 40px;
    outline: none;
    border: 1px solid #eeeeee;
    background: #f9f9ff;
    width: 100%;
    padding: 0px 15px;
    margin-bottom: 20px; }
.cart_inner .table tbody tr.out_button_area .checkout_btn_inner {
  margin-left: -388px; }
  .cart_inner .table tbody tr.out_button_area .checkout_btn_inner .main_btn {
    height: 40px;
    padding: 0px 30px;
    line-height: 38px;
    text-transform: uppercase; }

.gray_btn {
  line-height: 38px;
  background: #f9f9ff;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  padding: 0px 40px;
  display: inline-block;
  color: #222222;
  text-transform: uppercase;
  font-weight: 500; }

/* End Cart Area css
============================================================================================ */
/* End Cart Area css
============================================================================================ */
.check_title h2 {
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  background: #f9f9ff;
  line-height: 40px;
  padding-left: 30px;
  margin-bottom: 0px; }
  .check_title h2 a {
    color: #1641ff;
    text-decoration: underline; }

.returning_customer p {
  margin-top: 15px;
  padding-left: 30px;
  margin-bottom: 25px; }
.returning_customer .contact_form {
  max-width: 710px;
  margin-left: 15px; }
  .returning_customer .contact_form .form-group {
    margin-bottom: 20px; }
    .returning_customer .contact_form .form-group input {
      border: 1px solid #eeeeee;
      height: 40px;
      border-radius: 3px;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      color: #777777;
      font-weight: normal; }
      .returning_customer .contact_form .form-group input.placeholder {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        color: #777777;
        font-weight: normal; }
      .returning_customer .contact_form .form-group input:-moz-placeholder {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        color: #777777;
        font-weight: normal; }
      .returning_customer .contact_form .form-group input::-moz-placeholder {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        color: #777777;
        font-weight: normal; }
      .returning_customer .contact_form .form-group input::-webkit-input-placeholder {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        color: #777777;
        font-weight: normal; }
    .returning_customer .contact_form .form-group .submit_btn {
      margin-top: 0px; }
    .returning_customer .contact_form .form-group .creat_account {
      display: inline-block;
      margin-left: 15px; }
      .returning_customer .contact_form .form-group .creat_account input {
        height: auto;
        margin-right: 10px; }
    .returning_customer .contact_form .form-group .lost_pass {
      display: block;
      margin-top: 20px;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      color: #777777;
      font-weight: normal; }

.p_star {
  display: inline-block;
  position: relative; }

.p_star input {
  background: #fff; }

.p_star input:focus + .placeholder {
  display: none; }

.p_star .placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  z-index: 1; }

.p_star .placeholder::before {
  content: attr(data-placeholder);
  color: #777; }

.p_star .placeholder::after {
  content: " *";
  color: tomato; }

.cupon_area {
  margin-bottom: 40px; }
  .cupon_area input {
    margin-left: 30px;
    max-width: 730px;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 3px;
    padding: 0px 15px;
    border: 1px solid #eeeeee;
    outline: none;
    box-shadow: none;
    margin-top: 20px;
    margin-bottom: 20px; }
  .cupon_area .tp_btn {
    margin-left: 30px; }

.tp_btn {
  border: 1px solid #eeeeee;
  display: inline-block;
  line-height: 38px;
  padding: 0px 40px;
  color: #222222;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border-radius: 3px; }
  .tp_btn:hover {
    background: #1641ff;
    color: #fff;
    border-color: #1641ff; }

.billing_details h3 {
  font-size: 18px;
  color: #222222;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 30px; }
.billing_details .contact_form .form-group {
  margin-bottom: 20px; }
  .billing_details .contact_form .form-group input {
    border-radius: 3px;
    color: #777777; }
    .billing_details .contact_form .form-group input.placeholder {
      color: #777777; }
    .billing_details .contact_form .form-group input:-moz-placeholder {
      color: #777777; }
    .billing_details .contact_form .form-group input::-moz-placeholder {
      color: #777777; }
    .billing_details .contact_form .form-group input::-webkit-input-placeholder {
      color: #777777; }
  .billing_details .contact_form .form-group textarea {
    height: 150px;
    border-radius: 3px;
    margin-top: 15px; }
  .billing_details .contact_form .form-group .country_select {
    width: 100%; }
    .billing_details .contact_form .form-group .country_select span {
      color: #777777; }
    .billing_details .contact_form .form-group .country_select .list {
      width: 100%;
      border-radius: 0px; }
      .billing_details .contact_form .form-group .country_select .list li {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: normal; }
  .billing_details .contact_form .form-group .creat_account #f-option2 {
    margin-right: 5px; }
  .billing_details .contact_form .form-group .creat_account #f-option3 {
    margin-right: 5px; }
  .billing_details .contact_form .form-group .creat_account a {
    color: #1641ff; }

.order_box {
  background: #f9f9f9;
  padding: 30px; }
  .order_box h2 {
    border-bottom: 1px solid #dddddd;
    font-size: 18px;
    font-weight: 500;
    color: #222222;
    padding-bottom: 15px; }
  .order_box .list li a {
    font-size: 14px;
    color: #777777;
    font-weight: normal;
    border-bottom: 1px solid #eeeeee;
    display: block;
    line-height: 42px; }
    .order_box .list li a span {
      float: right; }
    .order_box .list li a .middle {
      float: none;
      width: 50px;
      text-align: right;
      display: inline-block;
      margin-left: 30px;
      color: #222222; }
  .order_box .list li:nth-child(4) a .middle {
    margin-left: 48px; }
  .order_box .list_2 li a {
    text-transform: uppercase;
    color: #222222;
    font-weight: 500; }
    .order_box .list_2 li a span {
      color: #777777;
      text-transform: capitalize; }
  .order_box .list_2 li:last-child a span {
    color: #222222; }
  .order_box .payment_item h4 {
    font-size: 14px;
    text-transform: uppercase;
    color: #222222;
    font-weight: 500;
    padding-left: 22px;
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px; }
    .order_box .payment_item h4:before {
      content: "";
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 1px solid #cdcdcd;
      background: #fff;
      display: block;
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%); }
    .order_box .payment_item h4:after {
      content: "";
      height: 4px;
      width: 4px;
      background: #fff;
      border-radius: 50%;
      display: block;
      position: absolute;
      left: 5px;
      top: 8px; }
    .order_box .payment_item h4 img {
      padding-left: 60px; }
  .order_box .payment_item p {
    background: #fff;
    padding: 20px; }
  .order_box .payment_item.active h4:before {
    background: #1641ff;
    border-color: #1641ff; }
  .order_box .creat_account {
    margin-bottom: 15px; }
    .order_box .creat_account label {
      padding-left: 10px;
      font-size: 12px;
      color: #222222; }
    .order_box .creat_account a {
      color: #1641ff; }
  .order_box .main_btn {
    display: block;
    line-height: 38px;
    text-transform: uppercase; }

.order_details .title_confirmation {
  text-align: center;
  color: #28d500;
  font-size: 18px;
  margin-bottom: 80px; }

.order_d_inner .details_item h4 {
  border-bottom: 1px solid #eee;
  padding-bottom: 12px;
  font-size: 18px;
  color: #222222;
  padding-left: 18px; }
.order_d_inner .details_item .list {
  padding-left: 18px; }
  .order_d_inner .details_item .list li {
    margin-bottom: 8px; }
    .order_d_inner .details_item .list li:last-child {
      margin-bottom: 0px; }
    .order_d_inner .details_item .list li a {
      font-size: 14px;
      color: #222222;
      font-family: "Roboto", sans-serif; }
      .order_d_inner .details_item .list li a span {
        width: 145px;
        display: inline-block;
        color: #777777; }

.order_details_table {
  background: #f9f9ff;
  padding: 30px;
  margin-top: 75px; }
  .order_details_table h2 {
    color: #222222;
    font-size: 18px;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 15px; }
  .order_details_table .table {
    margin-bottom: 0px; }
    .order_details_table .table thead tr th {
      border-bottom: 1px solid #ddd;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: normal; }
    .order_details_table .table tbody tr td p {
      margin-bottom: 0px; }
    .order_details_table .table tbody tr td h5 {
      color: #222222;
      margin-bottom: 0px; }
    .order_details_table .table tbody tr td h4 {
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 0px;
      color: #222222; }
    .order_details_table .table tbody tr:last-child td {
      border-top: 1px solid #ddd; }
      .order_details_table .table tbody tr:last-child td p {
        color: #222222; }

/* End Cart Area css
============================================================================================ */

div.scroll-page {
                padding:4px; 
                width : auto; 
                height: 280px; 
                overflow-x: hidden; 
                overflow-x: auto; 
                text-align:justify; 
}